@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<!-- Listing Items -->
<div class="container">
    <!-- filters -->
    <section class="filters">
        <!-- search box -->
        <div class="search-box">
            @using (Html.BeginForm("index", "Home", FormMethod.Get))
            {
                <div class="input-group md-form form-sm form-1 pl-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text cyan lighten-2" id="basic-text1">
                            <button type="submit" style="outline:none; border-style: none; color:transparent;">
                                <i class="fas fa-search text-black-50"
                                   aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>
                    <input class="form-control my-0 py-1" type="text" placeholder="Search" aria-label="Search" name="search">
                </div>

            }
        </div>
        <!-- filter list -->
        <div>
            <!-- filter header -->
            <h5>Categories</h5>
            <!-- filter list -->
            <ul class="list list--vr-separator">
                @foreach (var item in Model.Categories)
                {
                    <li class="link list__item"><a asp-controller="Home" asp-action="Index" asp-route-category="@item.Id"> <i class="link__icon fas fa-angle-right"></i>@item.Name</a></li>

                }
            </ul>
        </div>
        <!-- filter tags -->
        <div>
            <!-- title -->
            <h5></h5>
            <!-- small item -->
            <div></div>
            <div></div>
            <div></div>
        </div>
    </section>
    <!-- Items -->
    <section class="item-listing">
        <!-- tools (sorting , change view , exporting) -->
        <div class="item-listing__tools">
            @{
                var sort1 = new Dictionary<string, string> { { "sortBy", ViewBag.SortNameParameter } };
                var sort2 = new Dictionary<string, string> { { "sortBy2", ViewBag.SortPriceParameter } };

            }
            @using (Html.BeginForm(FormMethod.Post, new { @class = "form-inline" }))
            {
                if (ViewBag.SortPriceParameter == "PriceD")
                {
                    <a class="action-btn" asp-action="Index3" asp-controller="Home" asp-all-route-data="sort2" name="priceD"> <i class="fas fa-sort-numeric-down-alt" style="color:#FFFFFF;"></i> </a>
                }
                else
                {
                    <a class="action-btn" asp-action="Index3" asp-controller="Home" asp-all-route-data="sort2" name="priceA"><i class="fas fa-sort-numeric-down" style="color:#FFFFFF;"></i>   </a>
                }
                if (ViewBag.SortNameParameter == "NameD")
                {
                    <a class="action-btn" asp-action="Index2" asp-controller="Home" asp-all-route-data="sort1" name="nameD"> <i class="fas fa-sort-alpha-down-alt" style="color:#FFFFFF;"></i>  </a>
                }
                else
                {
                    <a class="action-btn" asp-action="Index2" asp-controller="Home" asp-all-route-data="sort1" name="nameA"><i class="fas fa-sort-alpha-down" style="color:#FFFFFF;"></i>   </a>
                }
            }

        </div>
        <div>
            <br />
            <br />
        </div>
        <!-- items -->
        <div class="item-listing__items item-listing--3items">
            <!-- medium item -->

            @foreach (var product in Model.Products)
            {
                <div class="esh-catalog-item col-md-4">
                    <partial name="_product" model="@product" />
                </div>
            }

        </div>
        <!-- paging -->
        <div class="paging">
            @{
                var prevDisabled = !Model.Products.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.Products.HasNextPage ? "disabled" : "";
            }

            <!-- left arrow -->
            <div class="paging__arrow">
                <a asp-action="Index"
                   asp-route-pageNumber="@(Model.Products.PageIndex - 1)"
                   class="btn btn-dark @prevDisabled">
                    <i class="fas fa-angle-left"></i>
                </a>
            </div>

            <!-- right arrow -->
            <div class="paging__arrow">
                <a asp-action="Index"
                   asp-route-pageNumber="@(Model.Products.PageIndex + 1)"
                   class="btn btn-dark @nextDisabled">
                    <i class="fas fa-angle-right"></i>
                </a>
            </div>
        </div>
    </section>
</div>

@section Styles{

    <style>

        #formsubmit {
            text-decoration: none;
        }

            #formsubmit:hover {
                color: white;
            }
    </style>

}