@page
@inject SignInManager<ApplicationUser> SignInManager
@model IndexModel
@{
    ViewData["Title"] = "Basket";
}
<div class="">
    <h1 class="">Your Basket: </h1>
    <h2 class="">Total: $ @Model.BasketModel.Total().ToString("N2") </h2>
</div>
<br />
<div class="table container">
    @if (Model.BasketModel.Items.Any())
    {
        <form asp-action="CheckoutBasket" asp-controller="Orders" method="post" class="col card">
            <article class="esh-basket-titles display-4 card-header row">
                <section class="col-4">Product</section>
                <section class="col-2">Price</section>
                <section class="col-3">Quantity</section>
                <section class="col-3">Cost</section>
            </article>

            <input type="hidden" name="BuyerId" value="@Model.BasketModel.BuyerId" />

            @for (int i = 0; i < Model.BasketModel.Items.Count; i++)
            {
                var item = Model.BasketModel.Items[i];
                if (item != null)
                {
                    <article class="esh-basket-item row">
                        <section class=" col-4 hidden-lg-down fontincrease">
                            <img class="image w-50 img-thumbnail" src="Images/@item.Product.ImageName" />
                            @item.Product.Name
                        </section>
                        <section style="padding-top: 5%;" class="col-2 fontincrease">$ @item.Price</section>
                        <section style="padding-top: 5%;" class="col-3">
                            <input type="hidden" name="@("Items[" + i + "].Key")" value="@item.Id" />
                            <input type="number" width="50" class="form-control fontincrease" min="0" name="@("Items[" + i + "].Value")" value="@item.Quantity" />
                        </section>
                        <section style="padding-top: 5%;" class="col-3 fontincrease">$ @item.TotalPrice()</section>
                    </article>
                }
            }
            <br />
            <article class="row">
                <button asp-page="/Index" class="defmargin btn btn-primary text-white">Continue Shopping..</button>
                <button class="defmargin col-1  btn btn-outline-info"
                        name="updatebutton" value="" type="submit"
                        asp-page-handler="Update">
                    Update
                </button>
                @if (SignInManager.IsSignedIn(User))
                {
                    <input type="submit"
                           class="defmargin col-1 btn btn-outline-success"
                           value="Checkout" />
                }
                else
                {
                    <a class="defmargin nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login to checkout..</a>
                }

            </article>

        </form>
    }

    else
    {
        <h3 class="esh-catalog-items row">
            Basket is empty.
        </h3>

        <section class="esh-basket-item">
            <a asp-page="/Index" class="btn esh-basket-checkout text-white">Continue Shopping..</a>
        </section>
    }
</div>

@section Styles{
    <style>
        .defmargin {
            margin: 10px;
            color: darkslategray;
        }

            .defmargin:hover {
                color: white;
            }

        .fontincrease {
            font-size: 15px;
        }
    </style>

}