@page
@model IndexModel
@{
    ViewData["Title"] = "Basket";
}
<h1>Your Basket:</h1>


@if (Model.BasketModel.Items.Any())
{
    <form method="post">
        <div class="container">
            <table class="table table-striped">

                <thead class="thead-dark">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (BasketItem item in Model.BasketModel.Items)
                    {
                        if (item != null)
                        {
                            <tr>
                                @Html.HiddenFor(m => item.Id)
                                <td>
                                    <img class="item-small-1__image" src="@item.Product.PictureUrl" />
                                </td>
                                <td>@item.Product.Name </td>
                                <td>@Html.EditorFor(m => item.Quantity) </td>
                                <td>@item.TotalPrice() </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>

        </div>
    </form>
}
