@model Basket
@{
    int count = 0;
    if (Model != null || Model?.Items.Count > 0)
    {
        count = Model.Items.Sum(i => i.Quantity);
    }
}

<div class="basket dropdown">

    <a class="dropdown__header" href="#" id="cart"><i class="fa fa-shopping-cart"></i> Basket <span class="badge">@count</span></a>

    <div class="dropdown__body shopping-cart">
        @if (Model != null && Model?.Items.Count > 0)
        {
            <div class="shopping-cart-header">
                <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">@count</span>
                <div class="shopping-cart-total">
                    <span class="lighter-text">Total:</span>
                    <span class="main-color-text total">$@Model.Total()</span>
                </div>
            </div>

            <ul class="shopping-cart-items">
                @if (Model != null || Model.Items != null)
                {
                    foreach (var item in Model.Items)
                    {
                        var salePrice = item.Price * (1 - item.Product.Sale / 100);
                        <li class="clearfix">
                            <img src="~/Products/@item.Product.ImageName" alt="item1" />
                            <span class="item-name">@item.Product.Name</span>
                            <span class="item-detail">@item.Product.Details</span>
                            <span class="item-price">@salePrice</span>
                            <span class="item-quantity">Quantity: @item.Quantity</span>
                        </li>
                    }
                }

            </ul>

            <a asp-action="CheckoutBasket" asp-controller="Orders" class="button">Checkout <i class="fa fa-chevron-right"></i></a>
        }
        else
        {
    <div>
        <div class="shopping-cart-header">
            <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">@count</span>
            <div class="shopping-cart-total">
                <span class="lighter-text">Total:</span>
                <span class="main-color-text total">$0</span>
            </div>
        </div>
        <ul class="shopping-cart-items">
            <li>
                Basket is empty..

            </li>
        </ul>
    </div>
        }
    </div>
</div>
