@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/mystyle.min.css" />
    <link rel="stylesheet" href="~/css/style.css">
    <style>
        #loginitems {
            float: left;
            margin-right: 5px;
        }

        #loginList {
            flex-direction: row;
        }
    </style>
    @RenderSection("Styles", required: false)
</head>
<body>
    <!-- header -->
    <div class="header">
        <!-- upper header -->
        <div class="header__upper">
            <!-- container -->
            <div class="container">
                @if (SignInManager.IsSignedIn(User))
                {

                    var user = await UserManager.FindByNameAsync(User.Identity.Name);
                    var mobile = user.PhoneNumber;
                    var address = user.Address;

                    <!-- contact info -->
                    <ul class="list list--hr list--hr-separator">
                        @if (address != null)
                        {
                            <li class="list__item">
                                <span class="info">
                                    <!-- icon -->
                                    <i class="info__icon far fa-dot-circle"></i>
                                    <!-- info -->
                                    <span class="info__data">@address</span>
                                </span>
                            </li>
                        }
                        @if (mobile != null)
                        {
                            <li class="list__item">
                                <a href="#" class="info">
                                    <!-- icon -->
                                    <i class="info__icon fab fa-whatsapp"></i>
                                    <!-- info -->

                                    <span class="info__data">@mobile</span>
                                </a>
                            </li>
                        }
                        <li class="list__item">
                            <a href="#" class="info">
                                <!-- icon -->
                                <i class="info__icon far fa-envelope"></i>
                                <!-- info -->
                                <span class="info__data">@User.Identity.Name</span>
                            </a>
                        </li>
                    </ul>
                }
                <!-- side menu -->
                <ul class="list list--hr">
                    <li class="list__item">
                        <a asp-controller="Home" asp-action="AboutUs" class="link">
                            <!-- icon -->
                            <i class="link__icon fas fa-angle-right"></i>
                            <!-- info -->
                            About Us
                        </a>
                    </li>
                    <li class="list__item">
                        <a asp-controller="Home" asp-action="ContactUs" class="link">
                            <!-- icon -->
                            <i class="link__icon fas fa-angle-right"></i>
                            <!-- info -->
                            Contact Us
                        </a>
                    </li>
                    <!-- languges -->
                    <li class="list__item">
                        <!-- drop down -->
                        <!-- to oppen dropdown dropdown--opened -->
                        <div class="dropdown ">
                            <!-- header -->
                            <div class="dropdown__header">
                                <a href="#" class="link">
                                    <img class="flag flag-us" src="" alt="">
                                    English
                                </a>
                                <i class="fas fa-angle-down"></i>
                            </div>

                            <!-- items -->
                            <div class="dropdown__body">
                                <ul class="dropdown__items list">
                                    <li class="dropdown__item list__item">
                                        <a href="#" class="link">
                                            <img class="flag flag-us" src="" alt="">
                                            English
                                        </a>
                                    </li>
                                    <li class="dropdown__item list__item">
                                        <a href="#" class="link">
                                            <img class="flag flag-es" src="" alt="">
                                            Español
                                        </a>
                                    </li>
                                    <li class="dropdown__item list__item">
                                        <a href="#" class="link">
                                            <img class="flag flag-fr" src="" alt="">
                                            Française
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- middle header -->
        <div class="header__middle container">
            <!-- logo -->
            <a href="#" class="header__logo-box">
                <img class="header__logo" src="~/img/logo3.png" alt="">
            </a>
            <!-- user options -->
            <div class="header__user-options">
                <!-- login control -->
                <partial class="link" name="_LoginPartial" />
                @if (SignInManager.IsSignedIn(User))
                {
                    var user = await UserManager.FindByNameAsync(User.Identity.Name);
                    var pp = user.ImageName;

                    <div class="dropdown">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="My Profile">
                            <div class="dropdown__header image image--small image--circle" style="background-image: url('ProfilePics/@pp')">

                            </div>
                        </a>
                        <div class="dropdown__body">
                            <ul class=" list">
                                <li class="list__item">
                                    <div style="margin-left: 37px; padding: 40px; background-image: url('ProfilePics/@pp');" class="image image--small image--circle"></div>
                                </li>
                                <li class="list__item">
                                    <div style="margin-left: 25px;"> @User.Identity.Name</div>
                                </li>
                                <li class="list__item">
                                    <a asp-area="Identity" asp-page="/Account/Manage/Index" class="btn btn-sm btn-info ">My Profile</a>
                                </li>
                                <li>
                                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <input type="submit" style="margin-left: 33px;" value="Logout" class="btn btn-sm btn-danger " />
                                    </form>

                                </li>
                            </ul>
                        </div>
                    </div>
                }
                <!-- shopping card dropdown -->
                <!-- dropdown--opened to open -->
                <div id="dynamicContentContainer"></div>
            </div>
        </div>
        <!-- lower header -->
        <div class="header__lower container">
            <!-- navigation -->
            <nav class="nav">
                <ul class="nav__items list list--hr">
                    <!-- items -->
                    <li class="nav__item">
                        <a class="nav__link" asp-controller="Home" asp-action="Index" asp-route-id="">Home</a>
                    </li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav__item">
                            <a class="nav__link" asp-controller="Orders" asp-action="Index">My Orders</a>
                        </li>
                    }
                    @if (SignInManager.IsSignedIn(User))
                    {
                        var user = await UserManager.FindByNameAsync(User.Identity.Name);
                        var roles = await UserManager.GetRolesAsync(user);
                        if (roles.Contains("Admin") || roles.Contains("Vendor"))
                        {

                            <li class="nav__item dropdown ">
                                <!-- title -->
                                <a class="nav__link dropdown__header" href="#">
                                    Products
                                </a>
                                <!-- items -->
                                <div class="dropdown__body">
                                    <ul class=" list">
                                        <li class="list__item">
                                            <a class="nav__inner-link" asp-controller="Products" asp-action="Index">Product Listing</a>
                                        </li>
                                        <li class="list__item">
                                            <a class="nav__inner-link" asp-controller="Products" asp-action="Create">Add Product</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        }
                        if (roles.Contains("Admin"))
                        {

                            <li class="nav__item dropdown ">
                                <!-- title -->
                                <a class="nav__link dropdown__header" href="#">
                                    Categories
                                </a>
                                <!-- items -->
                                <div class="dropdown__body">
                                    <ul class=" list">
                                        <li class="list__item">
                                            <a class="nav__inner-link" asp-controller="Categories" asp-action="Index">Category Listing</a>
                                        </li>
                                        <li class="list__item">
                                            <a class="nav__inner-link" asp-controller="Categories" asp-action="Create">Add Category</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        }
                    }
                    <li class="nav__item">
                        <a class="nav__link" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" asp-controller="Home" asp-action="AboutUs">About Us</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- body -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- footer -->
    <div class="footer">
        <!-- subscription -->
        <div></div>
        <!-- menu -->
        <div></div>
        <!-- contact info -->
        <div></div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>

        $.get('@Url.Action("Basket", "Home")', function (content) {

            $("#dynamicContentContainer").html(content);

        });



    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
