@model Product

<form id="form @Model.Id" asp-page="/Basket/Index" class="item-medium-1" method="post">
    @if (Model.Sale != 0)
    {<div class="item-medium-1__alert">Sale</div>}
    <div class="item-medium-1__image image" style="background-image: url(Products/@Model.ImageName)">
        <a id="formsubmit" class="item-medium-1__action" href="#" onclick="document.getElementById('form @Model.Id').submit();"> Add to Basket </a>
    </div>

    <a href="#">
        <h4 style="text-align: left;">@Model.Name</h4>
        <div class="flex-row">
            <div>
                @if (Model.Sale != 0)
                {
                    var salePrice = Model.Price * (1 - Model.Sale/100);
                    <del>$@Model.Price.ToString("N2")</del>
                    <span class="lable">$@salePrice.ToString("N2")</span>
                }
                else
                {
                    <span class="lable">$@Model.Price.ToString("N2")</span>
                }
            </div>
        </div>
    </a>
    <div class="crud-actions">
        <a asp-action="Details" asp-controller="Products" asp-route-id="@Model.Id"><i class="far fa-eye"></i></a>

    </div>
    <input type="hidden" asp-for="@Model.Id" name="id" />
    <input type="hidden" asp-for="@Model.Name" name="name" />
    <input type="hidden" asp-for="@Model.ImageName" name="imgName" />
    <input type="hidden" asp-for="@Model.Details" name="details" />
    <input type="hidden" asp-for="@Model.Price" name="price" />
    <input type="hidden" asp-for="@Model.Sale" name="sale" />
</form>